

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-success static-top">
      <div class="container">
        <a class="navbar-brand" >
              <img class="rounded-circle" width="50px" height="50px" src="/assets/logo.png" alt="">
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item ">
                  <a class="nav-link" routerLink="/">Home
                        <span class="sr-only">(current)</span>
                      </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" routerLink="/about-us">About Us
                        <span class="sr-only">(current)</span>
                      </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" routerLink="/contact-us">Contact Us
                        <span class="sr-only">(current)</span>
                      </a>
                </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/login">Login
                  <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
<br><br>

<main class="my-form " style="width:800px; margin:auto;" >
  <div class="cotainer">
      <div class="row justify-content-center">
          <div class="col-md-8 p-3 bg-success rounded">
                  <div class="card">
                      <div class="card-header text-center" ><h3>Log In</h3></div>
                      <div class="card-body">

  <form (ngSubmit)="loginCheck()" [formGroup]="loginform">
    <div class="mb-6 form-group">
      <label for="email" class="form-label">Email </label>
      <input type="email" class="form-control" formControlName="email" id="email" name="email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors } " [(ngModel)]=login.email>
      
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
      </div>
    
    </div>
    <div class="mb-6 form-group">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" formControlName="password" id="password" name="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors } " [(ngModel)]=login.password>
     
      <div *ngIf="submitted && f.password.errors " class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required.</div>
    </div>
    
    </div>
    <div class="col d-flex justify-content-center">
    <button type="submit" class="btn btn-primary">Log In</button></div>

    <div class="card-footer">
      <div class="d-flex justify-content-center links">
        Don't have an account?<a href="/signup">New user?Sign Up</a>
      </div>
      <div class="d-flex justify-content-center">
        <a href="/forgot-password">Forgot your password?</a>
      </div>
    </div>
  </form>
</div> 
</div>
</div></div></div>
