<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-success static-top">
        <div class="container">
          <a class="navbar-brand" >
                <img class="rounded-circle" width="50px" height="50px" src="/assets/logo.png" alt="">
          </a>
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/admin-home" >Hello, {{full_name}}
                          <span class="sr-only">(current)</span>
                        </a>
                  </li>
              <li class="nav-item active">
                <a class="nav-link" (click)="logout()">Logout
                    <span class="sr-only">(current)</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <br><br>

<div class="container custom-container-2">

  <!-- Show it when there is no sell request -->
  <div class="no-data text-center" *ngIf="insurance.length == 0">
      <p>There are no pending Insurance Approvals ! Please wait.</p>
  </div>

  <div *ngIf="insurance.length !== 0">
      <h3 class="mb-6 text-center" style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">Pending Insurance Approvals</h3>
      <br>
      <br>

      <div class="col-md-12">
          <table class="table table-bordered">
            <thead class="thead-dark">
                  <tr>
                      <!-- <th scope="col">Sell Id</th> -->
                      <th scope="col">Insurance ID</th>
                      <th scope="col">User ID</th>
                      <th scope="col">Policy No.</th>
                      <th scope="col">Ins. Company</th>
                      <th scope="col">Season</th>
                      <th scope="col">Year</th>
                      <th scope="col">Sum Insured</th>
                      <th scope="col">Area (in hec)</th>
                      <th scope="col">Premium Amount</th>
                      <th scope="col">Action</th>
                  </tr>
              </thead>
           
                  <tr *ngFor="let item of insurance">
                      <!-- <td>{{item.sell_id}}</td> -->
                      <td>{{item.insurance_id}}</td>
                      <td>{{item.user_id}}</td>
                      <td>{{item.policy_no}}</td>
                      <td>{{item.insurance_company}}</td>
                      <td>{{item.season}}</td>
                      <td>{{item.year}}</td>
                      <td>{{item.sum_insured}}</td>
                      <td>{{item.area}}</td>
                      <td>{{item.premium_amount}}</td>
                      <td><button type="button" class="btn btn-success btn-lg mx-auto" ><a (click)="approve(item.insurance_id , item.user_id)" routerLinkActive="active">Approve</a></button></td>
                    
                  </tr>
              
          </table>
      </div>
  </div>
</div>
<div class="text-center">
  <button type="button" class="btn btn-success mx-auto" ><a (click)="goback()" routerLinkActive="active">Go Back</a></button>
</div>