
<div class="col d-flex justify-content-center">


<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Farmer Registration</h5>
        <p class="card-text">Click here for a new farmer registration</p>
      </div>
      <div class="card-footer">
        <div class="col d-flex justify-content-center">

        <a class="btn btn-primary" href="/signup-farmer" role="button">Register</a></div>
      </div>
    </div>

    <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Bidder Registration</h5>
            <p class="card-text">Click here for a new bidder registration</p>
          </div>
          <div class="card-footer">
            <div class="col d-flex justify-content-center">

            <a class="btn btn-primary" href="/signup-bidder" role="button">Register</a></div>
          </div>
        </div>

    </div>