<div class="container custom-container-2">

  <!-- Show it when there is no sell request placed -->
  <div class="no-data text-center" *ngIf="soldhistory.length == 0">
      <p>YOU HAVEN'T PLACED ANY SELL REQUESTS YET</p>
  </div>

  <div *ngIf="soldhistory.length !== 0">
      <h3 class="mb-3 text-center">HISTORY</h3>

      <div class="col-md-12">
          <table class="table table-bordered">
              
                  <tr>
                      <!-- <th scope="col">Date</th> -->
                      <th scope="col">Sell Id</th>
                      <th scope="col">CropName</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Sold Price</th>
                  </tr>
              
           
                  <tr *ngFor="let item of soldhistory">
                      <td>{{item.sell_id}}</td>
                      <td>{{item.crop_name}}</td>
                      <td>{{item.quantity}}</td>
                      <td>{{item.sold_price}}</td>                        
                  </tr>
              
          </table>
      </div>

  </div>
</div>