<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-success static-top">
        <div class="container">
          <a class="navbar-brand" >
                <img class="rounded-circle" width="50px" height="50px" src="/assets/logo.png" alt="">
          </a>
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/">Home
                          <span class="sr-only">(current)</span>
                        </a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" routerLink="/about-us">About Us
                          <span class="sr-only">(current)</span>
                        </a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" routerLink="/contact-us">Contact Us
                          <span class="sr-only">(current)</span>
                        </a>
                  </li>
              <li class="nav-item ">
                <a class="nav-link" routerLink="/login">Login
                    <span class="sr-only">(current)</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <br><br>

<div>
<!--<div class="col d-flex justify-content-center">
<h2>Farmer Registration</h2>
</div>
<div class="col d-flex justify-content-center" >-->
<main class="my-form " style="width:800px; margin:auto;" >
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8 p-3 bg-success rounded">
                    <div class="card">
                        <div class="card-header text-center" ><h3>Farmer Registration</h3></div>
                        <div class="card-body">
<form (ngSubmit)="SignupfarmerCheck()" [formGroup]="form2">
    <h4>Personal Details</h4><br>

    <div class="form-group" >
      <label for="fullname" class="form-label">Full Name</label>
      <input type="text" class="form-control" formControlName="full_name" id="fullname" name="t1" [ngClass]="{ 'is-invalid': submitted && f.full_name.errors } " [(ngModel)]=user.full_name >
      <div *ngIf="submitted && f.full_name.errors" class="invalid-feedback">
        <div *ngIf="f.full_name.errors.required">Full name is required</div>
        <div *ngIf="f.full_name.errors.full_name">You can enter only Alphabets</div>
      </div> 
    </div>
          
     

    
      <div class="form-group">
        <label for="contactno" class="form-label">Contact Number</label>
        <input type="number" class="form-control" formControlName="contact_no" id="contactno" [ngClass]="{ 'is-invalid': submitted && f.contact_no.errors } "name="t2"  [(ngModel)]=user.contact_no>
        <div *ngIf="submitted && f.contact_no.errors" class="invalid-feedback">
          <div *ngIf="f.contact_no.errors.required">Contact Number is required</div>
          <div *ngIf="f.contact_no.errors.contact_no">You can enter only Alphabets</div>
        </div>
      </div>
     
    

    <div class="mb-3 form-group">
        <label for="email" class="form-label">Email Id</label>
        <input type="email" class="form-control" id="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors } " name="t3"  [(ngModel)]=user.email>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email Id is required</div>
          <div *ngIf="f.email.errors.email">You can enter only Alphabets</div>
        </div> 
      </div>
    

    <h4>Address Details</h4><br>

    <div class="mb-3 form-group">
        <label for="addressline1" class="form-label">Address Line 1</label>
        <input type="textarea" class="form-control" id="addressline1" formControlName="addr_1" [ngClass]="{ 'is-invalid': submitted && f.addr_1.errors } "  name="t4"  [(ngModel)]=user.addr_1>
        <div *ngIf="submitted && f.addr_1.errors" class="invalid-feedback">
          <div *ngIf="f.addr_1.errors.required">Address Line 1 is required</div>
          <div *ngIf="f.addr_1.errors.addr_1">You can enter only Alphabets</div>
        </div> 
      </div>
    


    <div class="mb-3 form-group">
        <label for="addressline2" class="form-label">Address Line 2</label>
        <input type="textarea" class="form-control" id="addressline2" formControlName="addr_2" [ngClass]="{ 'is-invalid': submitted && f.addr_2.errors } " name="t5" [(ngModel)]=user.addr_2>
        <div *ngIf="submitted && f.addr_2.errors" class="invalid-feedback">
          <div *ngIf="f.addr_2.errors.required">Address Line 2 is required</div>
          <div *ngIf="f.addr_2.errors.addr_2">You can enter only Alphabets</div>
        </div> 
      </div>


    <div class="mb-3 form-group">
        <label for="city" class="form-label">City</label>
        <input type="text" class="form-control" id="city" formControlName="city" [ngClass]="{ 'is-invalid': submitted && f.city.errors } " name="t6"  [(ngModel)]=user.city>
        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
          <div *ngIf="f.city.errors.required">City is required</div>
          <div *ngIf="f.city.errors.city">You can enter only Alphabets</div>
        </div>
      </div>
    

    <div class="mb-3 form-group">
        <label for="state" class="form-label">State</label>
        <input type="text" class="form-control" id="state" formControlName="state" [ngClass]="{ 'is-invalid': submitted && f.state.errors } " name="t7"  [(ngModel)]=user.state>
        <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
          <div *ngIf="f.state.errors.required">State is required</div>
          <div *ngIf="f.state.errors.state">You can enter only Alphabets</div>
        </div>
      </div>
     

    <div class="mb-3 form-group">
        <label for="pin" class="form-label">Pin Code</label>
        <input type="number" class="form-control" id="pin" formControlName="pincode" [ngClass]="{ 'is-invalid': submitted && f.pincode.errors } " name="t8"  [(ngModel)]=user.pincode>
        <div *ngIf="submitted && f.pincode.errors" class="invalid-feedback">
          <div *ngIf="f.pincode.errors.required">Pin Code is required</div>
          <div *ngIf="f.pincode.errors.pincode">You can enter only digits</div>
        </div>
      </div>
     


    <h4>Land Details</h4><br>

    <div class="mb-3 form-group">
        <label for="landarea" class="form-label">Land Area</label>
        <input type="textarea" class="form-control" id="landarea" formControlName="land_area" [ngClass]="{ 'is-invalid': submitted && f.land_area.errors } " name="t9"  [(ngModel)]=user.land_area>
        <div *ngIf="submitted && f.land_area.errors" class="invalid-feedback">
          <div *ngIf="f.land_area.errors.required">Land Area is required</div>
          <div *ngIf="f.land_area.errors.land_area">You can enter only digits</div>
        </div> 
      </div>
    

    <div class="mb-3 form-group">
        <label for="landaddress" class="form-label">Land Address</label>
        <input type="textarea" class="form-control" id="landaddress" formControlName="land_addr" [ngClass]="{ 'is-invalid': submitted && f.land_addr.errors } " name="t10"  [(ngModel)]=user.land_addr>
        <div *ngIf="submitted && f.land_addr.errors" class="invalid-feedback">
          <div *ngIf="f.land_addr.errors.required">Land Address is required</div>
          <div *ngIf="f.land_addr.errors.land_addr">You can enter only Alphabets</div>
        </div>
      </div>
         

    <div class="mb-3 form-group">
        <label for="landpin" class="form-label">Pin Code</label>
        <input type="number" class="form-control" id="landpin"  formControlName="land_pincode" [ngClass]="{ 'is-invalid': submitted && f.land_pincode.errors } " name="t11"  [(ngModel)]=user.land_pincode>
        <div *ngIf="submitted && f.land_pincode.errors" class="invalid-feedback">
          <div *ngIf="f.land_pincode.errors.required">Pin Code is required</div>
          <div *ngIf="f.land_pincode.errors.land_pincode">You can enter only digits</div>
        </div> 
      </div>
    


    <h4>Bank Details</h4><br>

    <div class="mb-3 form-group">
        <label for="accountnumber" class="form-label">Account Number</label>
        <input type="number" class="form-control" id="accountnumber" formControlName="account_no" [ngClass]="{ 'is-invalid': submitted && f.account_no.errors } " name="t12"  [(ngModel)]=user.account_no>
        <div *ngIf="submitted && f.account_no.errors" class="invalid-feedback">
          <div *ngIf="f.account_no.errors.required">Account Number is required</div>
          <div *ngIf="f.account_no.errors.account_no">You can enter only digits</div>
        </div>
      </div>
     



    <div class="mb-3 form-group" >
        <label for="ifsccode" class="form-label">IFSC Code</label>
        <input type="text" class="form-control" id="ifsccode" formControlName="ifsc_no"  [ngClass]="{ 'is-invalid': submitted && f.ifsc_no.errors } " name="ifsc_no"  [(ngModel)]=user.ifsc_no >
        <div *ngIf="submitted && f.ifsc_no.errors" class="invalid-feedback">
          <div *ngIf="f.ifsc_no.errors.required">IFSC Code is required</div>
          <div *ngIf="f.ifsc_no.errors.ifsc_no">You can enter only digits</div>
        </div>
      </div>
     


    <div class="mb-3 form-group">
      <label for="password1" class="form-label">Password</label>
      <input type="password" class="form-control" id="password1" formControlName="password1" [ngClass]="{ 'is-invalid': submitted && f.password1.errors }"  name="password1"  [(ngModel)]=user.password>
      <div *ngIf="f.password1.touched && f.password1.invalid" class="alert alert-danger">
        <div *ngIf="f.password1.errors.required">Password is required.</div>
    </div>
    </div>
    



    
    <div class="mb-3 form-group">
        <label for="password2" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="password2" formControlName="password2" name="password2" [ngClass]="{ 'is-invalid': submitted && f.password2.errors }" [(ngModel)]=user.password>
        <div *ngIf="submitted && f.password2.errors" class="invalid-feedback">
          <div *ngIf="f.password2.errors.required">Confirm Password is required</div>
          <div *ngIf="f.password2.errors.mustMatch">Passwords must match</div>
        </div>
      </div>
    


    <div class="col d-flex justify-content-center">
    <button type="submit" class="btn btn-primary" >Submit</button></div>
  </form>
</div>
</div>
</div></div></div></main>