<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-success static-top">
    <div class="container">
      <a class="navbar-brand">
        <img class="rounded-circle" width="50px" height="50px" src="/assets/logo.png" alt="">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/bidder-home">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" (click)="logout()">Logout
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<br>
<br>

 <!-- <div class="bg-img"> -->

  <div class="container custom-container-2">

    <!-- Show it when there is no sell request -->
    <div class="no-data text-center" *ngIf="Sellrequests.length == 0">
      <p style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">There are no crops in market yet !
        Please wait.</p>
    </div>

    <div *ngIf="Sellrequests.length !== 0" class="container bg-light p-2 mt-2 rounded" style="width: 900px;">
      <h3 class="mb-6 text-center" style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">BIDDER
        MARKETPLACE</h3>
      <br>
      <br>

      <div class="col-md-12">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <!-- <th scope="col">Sell Id</th> -->
              <th scope="col">Crop Type</th>
              <th scope="col">Crop Name</th>
              <th scope="col">Fertilizer Type</th>
              <th scope="col">Quantity</th>
              <th scope="col">Mininum Price</th>
              <th scope="col">Place</th>
            </tr>
          </thead>

          <tr *ngFor="let item of Sellrequests">
            <!-- <td>{{item.sell_id}}</td> -->
            <td>{{item.crop_type}}</td>
            <td>{{item.crop_name}}</td>
            <td>{{item.fertilizer_type}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.msp}}</td>
            <td><button type="button" class="btn btn-success mx-auto"><a
                  (click)="placebid(item.sell_id , item.msp)" routerLinkActive="active">Place Bid</a></button></td>

          </tr>

        </table>
      </div>

    </div>
  </div>

<!-- </div> -->
<br>
<div class="text-center">
  <button type="button" class="btn btn-success mx-auto" ><a (click)="goback()" routerLinkActive="active">Go Back</a></button>
</div>