<!-- <div class="card-deck" class="mx-auto" style="width: 400px; ">
  <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Crop 1</h5>
        <h6 class="card-text">{{crop_type}}</h6>
        <h6 class="card-text">{{crop_name}}</h6>
        <h6 class="card-text">{{fertilizer_type}}</h6>
        <button type="button" class="btn btn-primary"><a routerLink="/bidder-bidrequest" routerLinkActive="active">Place Bid</a></button>
      </div>
  </div>

  <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Crop 2</h5>
        <h6 class="card-text">{{crop_type}}</h6>
        <h6 class="card-text">{{crop_name}}</h6>
        <h6 class="card-text">{{fertilizer_type}}</h6>
        <button type="button" class="btn btn-primary"><a routerLink="/bidder-bidrequest" routerLinkActive="active">Place Bid</a></button>
      </div>
  </div>
</div> -->

<div class="container custom-container-2">

  <!-- Show it when there is no sell request -->
  <div class="no-data text-center" *ngIf="Sellrequests.length == 0">
      <p>There are no crops in market yet ! Please wait.</p>
  </div>

  <div *ngIf="Sellrequests.length !== 0">
      <h3 class="mb-3 text-center">Welcome To Marketplace</h3>

      <div class="col-md-12">
          <table class="table table-bordered">
              
                  <tr>
                      <th scope="col">Sell Id</th>
                      <th scope="col">Crop Type</th>
                      <th scope="col">Crop Name</th>
                      <th scope="col">Fertilizer Type</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Mininum Price</th>
                      <th scope="col">Place</th>
                  </tr>
              
           
                  <tr *ngFor="let item of Sellrequests">
                      <td>{{item.sell_id}}</td>
                      <td>{{item.crop_type}}</td>
                      <td>{{item.crop_name}}</td>
                      <td>{{item.fertilizer_type}}</td>
                      <td>{{item.quantity}}</td>
                      <td>{{item.msp}}</td>
                      <td><button type="button" class="btn btn-primary"><a routerLink="/bidder-bidrequest" routerLinkActive="active">Place Bid</a></button></td>
                    
                  </tr>
              
          </table>
      </div>

  </div>
</div>



