<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-success static-top">
        <div class="container">
          <a class="navbar-brand" >
                <img class="rounded-circle" width="50px" height="50px" src="/assets/logo.png" alt="">
          </a>
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" >Hello, {{full_name}}
                          <span class="sr-only">(current)</span>
                        </a>
                  </li>
              <li class="nav-item active">
                <a class="nav-link" (click)="logout()">Logout
                    <span class="sr-only">(current)</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <br><br>
    <div class="container">
            <div class="card-columns">
                <div class="card">
                    <div class="card-body text-center">
                    <a routerLink="/admin-user-approval" class="card-link" routerLinkActive="active">  
                        User Signup Approvals</a>
                    </div>
                </div>
    
                <div class="card">
                    <div class="card-body text-center">
                    <a routerLink="/SellRequestApprovals" class="card-link" routerLinkActive="active">  
                        Sell Request Approvals</a>
                    </div>
                </div>
    
                <div class="card">
                    <div class="card-body text-center">
                    <a routerLink="/admin-marketplace" class="card-link" routerLinkActive="active">  
                        View Marketplace</a>
                    </div>
                </div>
    
                <div class="card">
                    <div class="card-body text-center">
                    <a routerLink="/admin-insurance" class="card-link" routerLinkActive="active">  
                        Insurance Approvals</a>
                    </div>
                </div>
    
                <div class="card">
                    <div class="card-body text-center">
                    <a routerLink="/admin-claim" class="card-link" routerLinkActive="active">  
                        Claim Approvals</a>
                    </div>
                </div>
    
                <div class="card">
                    <div class="card-body text-center">
                    <a routerLink="/admin-contactus" class="card-link" routerLinkActive="active">  
                        Contact Us Messages</a>
                    </div>
                </div>
            </div>
    </div>
    <footer class="footer">
        <div class="container" style="height: 50px; margin-bottom: 0;">
            <span class="text-muted"> &copy; 2020 Schemes for Farmers Public Limited</span>
        </div>
    </footer>
    