<form (ngSubmit)="AdminhomeCheck()">
    <div class="topnav">
        
        <div class="topnav">
            <a routerLink="/UserSignupApprovals" class="nav-link" routerLinkActive="active">  
                User Signup Approvals</a>
        </div>

        <div class="topnav">
            <a routerLink="/SellRequestApprovals" class="nav-link" routerLinkActive="active">  
                Sell Request Approvals</a>
        </div>

        <div class="topnav">
            <a routerLink="/ApprovedSellRequest" class="nav-link" routerLinkActive="active">  
                Approved Sell Request</a>
        </div>

        <div class="topnav">
            <a routerLink="/BidList" class="nav-link" routerLinkActive="active">  
                Bid List</a>
        </div>

        <div class="topnav">
            <a routerLink="/InsuranceClaimApprovals" class="nav-link" routerLinkActive="active">  
                Insurance Claim Approvals</a>
        </div>

        <div class="topnav">
            <a routerLink="/ContactUsMessages" class="nav-link" routerLinkActive="active">  
                Contact Us Messages</a>
        </div>
    </div>
</form>