
<form (ngSubmit)="BidderhomeCheck()">
    <div class="topnav">
        
        <div class="topnav">
            <a routerLink="/Marketplace" class="nav-link" routerLinkActive="active">  
                Marketplace</a>
        </div>

        <div class="topnav">
            <a routerLink="/BidRequest" class="nav-link" routerLinkActive="active">  
                Bid Request</a>
        </div>

        <div class="topnav">
            <a routerLink="/CompletedBids" class="nav-link" routerLinkActive="active">  
                Completed Bids</a>
        </div>


    </div>
</form>