<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-success static-top">
        <div class="container">
            <a class="navbar-brand">
                <img class="rounded-circle" width="50px" height="50px" src="/assets/logo.png" alt="">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" routerLink="/bidder-home">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" (click)="logout()">Logout
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>



<!-- <div class="bg-img"> -->
<br><br>
<div class="container bg-light  p-5 mt-5 rounded">
    <div class="row">
        <div class="col-xs-3">
            <form style="width: 300px ; margin: auto;" id="demoForm">
                <div class="form-group">
                    <label for="bidamount">Bid Amount</label>
                    <input type="number" class="form-control" id="bidamount" placeholder="Enter your bid amount"
                        name="bidamount" [(ngModel)]=bid.bid_amount>

                </div>

                <div class="form-group" *ngIf="activeBids.length == 0">
                    <button type="submit" class="btn btn-success btn-lg mx-auto" (click)="placebid()"
                        style="width: 100px;" data-toggle="tooltip" data-placement="right"
                        title="Are you sure?">Bid</button>
                </div>

                <div class="form-group" *ngIf="activeBids.length != 0">
                    <button type="submit" class="btn btn-success btn-lg mx-auto" (click)="updatebids()"
                        style="width: 200px;" data-toggle="tooltip" data-placement="right" title="Are you sure?">Edit
                        Bid</button>
                </div>

            </form>
        </div>


        <div class="col-xs-3">
            <div class="container custom-container-2" style="margin-left: 100px;">

                <div class="no-data text-center" *ngIf="Bids.length == 0">
                    <p>There are no bids on the crop yet ! Be the first .</p>
                </div>

                <div *ngIf="Bids.length !== 0">
                    <!-- <h4 class="mb-3 text-center">THE CURRENT TOP BIDS FOR THE CROP ARE :</h4> -->

                    <div class="col-md-12">
                        <table class="table table-bordered text-center " style="width: 250px; margin: auto;">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">TOP BIDS</th>
                                </tr>
                            </thead>

                            <tr *ngFor="let item of Bids">
                                <td>{{item.bid_amount}}</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <br>
    <br>


    <!-- Show it when there is no active bids -->
    <div class="no-data text-center" *ngIf="activeBids.length == 0">
        <p style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">YOUR CURRENT BID HISTORY FOR THIS
            CROP IS
            EMPTY !
        </p>
    </div>

    <div *ngIf="activeBids.length !== 0" class="container bg-light  rounded" style="width: 400px;">
        <h3 class="mb-3 text-center" style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">
            YOUR
            BIDS
        </h3>

        <div class="container bg-light p-2 mt-2 rounded" style="width: 400px;">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>

                        <th scope="col">Bid Amount</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>

                <tr *ngFor="let item of activeBids" style="color: black; font-weight: bolder;">

                    <td>{{item.bid_amount}}</td>
                    <td>{{item.status}}</td>

                </tr>

            </table>
        </div>

    </div>

</div>
<br>
<div class="text-center">
    <button type="button" class="btn btn-success mx-auto" ><a (click)="goback()" routerLinkActive="active">Go Back</a></button>
  </div>





<!-- </div> -->