<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-success static-top">
        <div class="container">
          <a class="navbar-brand" >
                <img class="rounded-circle" width="50px" height="50px" src="/assets/logo.png" alt="">
          </a>
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/farmer-home">Home
                          <span class="sr-only">(current)</span>
                        </a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" routerLink="/insurance-home">Insurance
                          <span class="sr-only">(current)</span>
                        </a>
                  </li>
              <li class="nav-item ">
                <a class="nav-link" (click)="logout()">Logout
                    <span class="sr-only">(current)</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <br><br>

<form (ngSubmit)="placeRequest()">
      
<div class="container">
    <label for="croptype">Crop Type</label>
    <input type="text" id="croptype" name="croptype"  [(ngModel)]="sellrequests.crop_type" required>
  </div>

  <div class="container">
    <label for="cropname">Crop Name</label>
    <input type="text" id="cropname" name="cropname"  [(ngModel)]="sellrequests.crop_name" required>
</div>

<div class="container">
    <label for="fertilizer">Fertilizer Type</label>
    <input type="text" id="fertilizer" name="fertilizer"  [(ngModel)]="sellrequests.fertilizer_type" required>
</div>

<div class="container">
    <label for="quantity">Quantity</label>
    <input type="text" id="quantity" name="quantity"  [(ngModel)]="sellrequests.quantity" required>
</div>

<div class="container">
    <label for="msp">MSP</label>
    <input type="text" id="msp" name="msp"  [(ngModel)]="sellrequests.msp" required>
</div>

<div class="container">
    <label for="soilph">Soil ph Certificate</label>
    <input type="text" id="soilph" name="soilph"  [(ngModel)]="sellrequests.ph_certificate" required>
</div>
    <input type="submit" value="Place Request">

