<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-success static-top">
      <div class="container">
        <a class="navbar-brand" >
              <img class="rounded-circle" width="50px" height="50px" src="/assets/logo.png" alt="">
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                  <a class="nav-link" routerLink="/farmer-home">Home
                        <span class="sr-only">(current)</span>
                      </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" routerLink="/insurance-home">Insurance
                        <span class="sr-only">(current)</span>
                      </a>
                </li>
            <li class="nav-item ">
              <a class="nav-link" (click)="logout()">Logout
                  <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <br><br>

  <!-- <div>
    <h2>Welcome! You have successfully logged in.</h2>
</div> -->


<div class="col d-flex justify-content-center">
  <div class="card-deck">
    <div class="card" style="width:300px">
      <img class="card-img-top" src="/assets/farmer-sellrequest.jpg" alt="Card Image" style=" width: 100%;height: 15vw;object-fit: cover;">
      <div class="card-body">
        <h4 class="card-title">Place Sell Request</h4>
        <p class="card-text"> Efficient way of selling your crops is here. So lets get started with placing your first Sell Request.</p>
      </div>
      <div class="card-footer">
        <div class="col d-flex justify-content-center">
        <a class="btn btn-success" href="farmer-sellrequest" role="button">Sell Request</a></div>
      </div>
    </div>
       
    
    
   
    <div class="card" style="width:300px">
      <img class="card-img-top" src="/assets/farmer-soldhistory.jpg" alt="Card Image" style=" width: 100%;height: 15vw;object-fit: cover;">
      <div class="card-body">
        <h4 class="card-title">View Sold Crop History</h4>
        <p class="card-text">This will redirect you to your past crop history which had successful bids.</p>
      </div>
      <div class="card-footer">
          <div class="col d-flex justify-content-center">
          <a class="btn btn-success" href="farmer-soldhistory" role="button">View History</a></div>
      </div>
    </div>

    <div class="card" style="width:300px">
      <img class="card-img-top" src="/assets/farmer-marketplace1.jpg" alt="Card Image" style=" width: 100%;height: 15vw;object-fit: cover;">
      <div class="card-body">
        <h4 class="card-title">View Marketplace</h4>
        <p class="card-text"> View the bids placed on your approved crops right here.</p>
      </div>
      <div class="card-footer">
        <div class="col d-flex justify-content-center">
        <a class="btn btn-success" href="farmer-marketplace" role="button">Marketplace</a></div>
    </div>
    </div>
  </div>
</div>