<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-success static-top">
      <div class="container">
        <a class="navbar-brand" >
              <img class="rounded-circle" width="50px" height="50px" src="/assets/logo.png" alt="">
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                  <a class="nav-link" routerLink="/farmer-home">Home
                        <span class="sr-only">(current)</span>
                      </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" routerLink="/insurance-home">Insurance
                        <span class="sr-only">(current)</span>
                      </a>
                </li>
            <li class="nav-item ">
              <a class="nav-link" (click)="logout()">Logout
                  <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <br><br>

  <div>
    <h2>Welcome! You have successfully logged in.</h2>
</div>

  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card Image">
      <div class="card-body">
        <h4 class="card-title">Place Sell Request</h4>
        <p class="card-text"> Efficient way of selling your crops is here. So lets get started with placing your first Sell Request.</p>
        <button mdbBtn color="primary" routerLink='/farmer-sellrequest'>Click to place a Sell Request</button>
    </div>
    </div>
   
    <div class="card">
      <img class="card-img-top" src="..." alt="Card Image">
      <div class="card-body">
        <h4 class="card-title">View Sold Crop History</h4>
        <p class="card-text">This will redirect you to your past crop history which had successful bids.</p>
        <button mdbBtn color="primary" routerLink='/farmer-soldhistory'>Click here to view</button>
    </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="..." alt="Card Image">
      <div class="card-body">
        <h4 class="card-title">View Marketplace</h4>
        <p class="card-text"> View the bids placed on your approved crops right here.</p>
        <button mdbBtn color="primary" routerLink='/farmer-marketplace'>Marketplace</button>
    </div>
    </div>
  </div>