<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-success static-top">
    <div class="container">
      <a class="navbar-brand">
        <img class="rounded-circle" width="50px" height="50px" src="/assets/logo.png" alt="">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" routerLink="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/about-us">About Us
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/contact-us">Contact Us
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/login">Login
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<br><br>



<div class="container bg-light  p-3 mt-5 rounded" style="width: 800px;">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <div class="forgot">
        <h2>Forgot your password?</h2>
        <p>Change your password in three easy steps. This will help you to secure your password!</p>
        <ol class="list-unstyled">
          <li><span class="text-primary text-medium">1. </span>Enter your email address below.</li>
          <li><span class="text-primary text-medium">2. </span>Our system will send you a password</li>
          <li><span class="text-primary text-medium">3. </span>Use the password to login</li>
        </ol>
      </div>
      <form class="card mt-4" [formGroup]="forgotpassword ">
        <div class="card-body">
          <div class="form-group">
            <input class="form-control" type="text" id="email-for-pass" formControlName="email"
              placeholder="Email Address" [ngClass]="{ 'is-invalid': submitted && f.email.errors } " name=" email"
              [(ngModel)]=email>
            <small class="form-text text-muted">Enter the email address you used during the registration.</small>

            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>

          </div>
        </div>
        <div class=" mx-auto p-2"> <button class="btn btn-success" type="submit" (click)="getNewPassword()">Get New
            Password</button> </div>
      </form>
    </div>
  </div>
</div>