<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-success static-top">
        <div class="container">
          <a class="navbar-brand" >
                <img class="rounded-circle" width="50px" height="50px" src="/assets/logo.png" alt="">
          </a>
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/admin-home" >Hello, {{full_name}}
                          <span class="sr-only">(current)</span>
                        </a>
                  </li>
              <li class="nav-item active">
                <a class="nav-link" (click)="logout()">Logout
                    <span class="sr-only">(current)</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <br><br>
    <div class="container custom-container-2">

      <!-- Show it when there is no sell request -->
      <div class="no-data text-center" *ngIf="sell.length == 0">
          <p>There are no pending Sell Request Approvals ! Please wait.</p>
      </div>

      
    
      <div *ngIf="sell.length !== 0">
          <h3 class="mb-6 text-center" style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">Pending Sell Request Approvals</h3>
          
          <div *ngIf="picUrl" class="card-deck text-center" style="max-width:400px; margin:auto;">
            <div class="card" >
              <div class="card-header">
                <h5 >pH Certificate</h5>
              </div>
              <img src="http://localhost:8181/downloads/{{picUrl}}" style="max-height:350px" class="card-img-top" alt="...">
              <div class="card-footer">
                <button type="button" class="btn btn-success  mx-auto" ><a (click)="closePh()" routerLinkActive="active">Close</a></button>
              </div>
            </div>
          </div>
          <br>
          <br>
          <div class="col-md-12">
              <table class="table table-bordered">
                <thead class="thead-dark">
                      <tr>
                          <!-- <th scope="col">Sell Id</th> -->
                          <th scope="col">Sell ID</th>
                          <th scope="col">User ID</th>
                          <th scope="col">Crop Type</th>
                          <th scope="col">Crop Name</th>
                          <th scope="col">Fertilizer Type</th>
                          <th scope="col">Qty (in Kgs)</th>
                          <th scope="col">Min Price</th>
                          <th scope="col">Ph Certificate</th>
                          <th scope="col">Action</th>
                      </tr>
                  </thead>
               
                      <tr *ngFor="let item of sell">
                          <!-- <td>{{item.sell_id}}</td> -->
                          <td>{{item.sell_id}}</td>
                          <td>{{item.user_id}}</td>
                          <td>{{item.crop_type}}</td>
                          <td>{{item.crop_name}}</td>
                          <td>{{item.fertilizer_type}}</td>
                          <td>{{item.quantity}}</td>
                          <td>{{item.msp}}</td>
                          <td><a [routerLink]="" (click)="viewPh(item.sell_id , item.user_id)" routerLinkActive="active">View</a></td>
                          <td>
                            <button type="button" class="btn btn-success  mx-auto" >
                              <a (click)="approve(item.sell_id , item.user_id)" routerLinkActive="active">Approve</a>
                            </button>
                            &nbsp;
                            <button type="button" class="btn btn-danger  mx-auto" >
                              <a (click)="reject(item.sell_id , item.user_id)" routerLinkActive="active">Reject</a>
                            </button>
                          </td>                  
                      </tr> 
              </table>
          </div>
      </div>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-success mx-auto" ><a (click)="goback()" routerLinkActive="active">Go Back</a></button>
    </div>